/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 //Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

@import url('https://fonts.googleapis.com/css?family=Hepta+Slab&display=swap');
// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
	overflow:hidden;
}
body {
	margin:0;
	color:#ffffff;
	height:100vh;
	perspective:1px;
	transform-style:preserve-3d;
	overflow-x:hidden;
	overflow-y:auto;
	font-weight: 200;
}
.parallax_wrapper {
	width:100vw;
	height:100vh;
	padding-top:20vh;
	box-sizing:border-box;
	transform-style:preserve-3d;
	min-width:650px;
	min-height:650px;

}
.parallax_wrapper::before {
	content:"";
	width:100vw;
	height:100vh;
	top:0;
	left:0;
	background-image:url("paint3.jpg");
	background-size:cover;
	position:absolute;
	z-index:-1;
	transform:translateZ(-1px) scale(2);
	min-width:650px;
	min-height:650px;
}
.regular_wrapper {
	width:100vw;
	height:100vh;
	padding-top:20vh;
	background-image:url("paint4.jpg");
	background-size:cover;
	z-index:2;
	position:relative;
	overflow:hidden;
	min-width:650px;
	min-height:650px;
}
.regular_wrapper_about {
	width:100vw;
	height:100vh;
	padding-top:20vh;
	background-image:url("nature.jpg");
	background-size:cover;
	z-index:2;
	position:relative;
	overflow:auto;
	min-width:650px;
	min-height:650px;
}
.content {
	overflow:hidden;
	margin:auto auto;
	width:50%;
	height:50%;
	background:rgba(168, 168, 168, 0.8);
	font-family: 'Hepta Slab', serif;
	min-width:500px;
	min-height:500px;
	font-size:calc(21px + .4vw);
	text-align:center;
	padding-top:15px;
}
.pic {
	background-image:url("family.jpg");
	width: auto;
  	height: 75%;
   	background-size: cover;
   	background-repeat: no-repeat;
   	background-position: center;
   	min-width:500px;
   	min-height:500px;
   	margin:auto auto;
}
.about_content {
	margin:auto auto;
	background:rgba(168, 168, 168, 0.8);
	font-family: 'Hepta Slab', serif;
	text-align:center;
}
/* TOPNAV */
.topnav {
  background-color: #333;
  position:fixed;
  top:0;
  left:0;
  z-index:10;
  width:100%;
  height:50px;

}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}